.button{
    font: inherit;
    /* background-color: var(--secondary); */
    cursor: pointer;
    /* color: var(--textColor); */
    border: none;
    user-select: none; 
    color:var(--text-color-one);
    background-color: var(--secondary-color-bg);
    /* padding: 10px 15px; */
    border-radius: 5px;
}
.button:hover,
.button:active{
    background: var( --primary-color-bg);
   /* border: 0.5px solid var(--secondary); */
   outline: 1px solid var(--borders-color-one);
}

