.header {
  background-color: var(--primary-color-bg);
  color: var(--text-color-one);
  display: flex;
  justify-content: center;
  position: relative;
}
.headerBtn {
  padding:10px 15px;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 70px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.headerListItem:hover{
  background-color: var(--secondary-color-bg);
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerSearchItem > button {
  /* background-color: var(--secondary); */
  /* color: var(--textColor); */
  font-weight: 500;
  /* border: none; */
  padding: 15px 20px;
  /* cursor: pointer; */
}

.headerSearch {
  height: 30px;
  background-color: var(--additional-color-bg);
  border: 3px solid var(--borders-color-one);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: var(--icon-color-two);
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: var(--text-color-two);
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
 
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: var(--additional-color-bg);
  color: var(--text-color-two);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  gap:10px;
}
.optionText {
  max-width: 40px;
}
.optionCalander{
  background-color: var(--secondary-color-bg);
}
.optionCounter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  font-size: 12px;
  /* font-weight: 200; */
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid var(--borders-color-one);
  color: var(--text-color-three);
  cursor: pointer;
  background-color: var(--additional-color-bg);
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
