.navbar {
  height: 50px;
  background-color: var(--primary-color-bg);
  display: flex;
  justify-content: center;
  padding-top:20px;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: var(--text-color-one);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navContainer > h2 {
  font-weight: 700;
}

.navItems {
  display: flex;
  gap: 10px;
}
.navItems > button{
  padding: 10px 15px;
}
.logo{
  cursor: pointer;
}