:root {
    --primaryColor: #583101;
    --white: #ffffff;
    --secondary:#A47148;
    --borders:#E7bc91;
    --textColor:#fff;

    --primary-color:#fff;
    --secondary-color:#fff;
    --accent-color:#fff;

    --text-color-one:#fff;
    --text-color-two:#fff;

    --button-color-primary:#fff;
    --button-color-secondary:#fff;
    --button-color-tertiary:#fff;
    
  }